/*---
 *  style.css - custom style definitions
 */

.sidebar .avatar {
  border-radius: 4px;
  margin: 0px;
}

.sidebar a {
  outline: none
}

img.center {
  margin: 0px auto;
}

ul.unbulleted li {
  list-style: none;
}

/**---
 * Borrowed from poole's pre styledef
 */
li.monotyped {
  font-family: Menlo, Monaco, "Courier New", monospace;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  background-color: #F9F9F9;
}
